<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://use.typekit.net/rcu7vmv.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/images/favicon.png">
        
        <title>Home</title>
    </head>


<body>
    <header>
        <div class="navbar-fixed">
            <nav style="background-color: #FFE8D6;">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo black-text kyle">beauti</a>
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
                    <ul id="desktop-nav" class="right hide-on-med-and-down">
                        <li><a href="/recs" class="black-text big">recommendations</a></li>
                        <li><button><a href="/list" class="black-text big">your list</a></button></li>
                    </ul>
                </div>
            </nav>
            <ul id="mobile-nav" class="sidenav">
                <li><a href="/recs" class="black-text"> recommendations</a></li>
                <li><a href="/list" class="black-text"> your list</a></li>
            </ul>
        </div>
    </header>

    <div class="home1">
        <img src="/images/home1.png" alt="an image of makeup" style="width:100%;">
        <h1 class="centered kylie">Keep track of your routine. </h1>
    </div>

    <div class="home2">
        <div class="center">
            <p class="home2-text">Your one stop destination to keep track of your skin care routine + favorite makeup.</p>
            <button class="home2-text"><a href="/list">go to your list</a></button>
        </div>    
    </div>

    <div class="home3 valign-wrapper">
        <img src="/images/home3.png" alt="an image of makeup" style="width:100%;">
        <div class="left">
                <h1 class="kylie left-align">need help?</h1>
                <p class="home2-text left-align">We got you covered. Tell us about your skin, and we’ll give advice on the best products for you.</p>
                <button class="home2-text"><a href="/recs">recommendations</a></button>
            </div>
    </div>    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/scripts/materializeAutoInit.js"></script>

</body>
</html>